.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  background-color: white;
  position: relative;
  max-width: 700px;
  
  width: 100%;
  
  box-shadow: 0px 5px 20px 3px #97979744;  
  border-radius: 30px;
}

p{
  height: 100%;
}

.quote{
 
    display: flex;
    justify-content: flex-start;
  
}

.author{
  display: block;
  text-align: right;
  align-items: center;
  margin-right: 41px;
  height: 100%;
  
}

.author em{
  align-items: center;
  justify-content: center;
}

.content-principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Start content head card*/

.text{
   
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start; 
  
}

.text p {
  width: 100%;
  text-align: center;
  margin: 1rem;
  font-size: 20px;
}

/* Finish content heard card*/

.quoote{
  margin: auto;
  font-size: 48px;
  margin-left: 20px;
  height: 100%;
}

.angle{
  font-size: 24px;
  color: white;
}

button{
  
  
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 25px;
  border: none;
 
}

.bt {
  display: flex;
  justify-content: flex-end;
}

/*
button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 25px;
  border: none;
  
}
*/